<div class="container">
    <h1>PrestoAPI Example App</h1>
    <p>This is a demo app developed to showcase the magic of PrestoAPI.</p>
    <p>Post, Put, and Delete methods are protected and require authentication.</p>
    <p><a (click)="openDialog(false)" [routerLink]="">Register</a> an account to begin using the 'CUD' Methods.</p>
    <p>This app was built using:</p>
    <ul>
        <li>PrestoAPI</li>
        <li>Angular 10</li>
        <li>Angular Material 10</li>
    </ul>
    <p class="mt-4">Visit the PrestoAPI <a href="https://prestoapi.com/docs/getting-started/introduction"
            target="_blank">documentation</a> for more information</p>
</div>