<mat-toolbar color="primary">
  <button id="menu-button" mat-icon-button aria-label="Menu icon" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a id="logo" routerLink="dashboard">
    <img class="mx-3" width="40" alt="Shop Logo" src="../assets/shop_icon.png">
    <span>Supply Chain Demo App</span>
  </a>
  <form id="search-container" [class]="auto.isOpen?'opened':''">
    <input type="text" placeholder="Search..." aria-label="Search" [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="goToPage($event)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option" [disabled]="option=='No results'">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </form>
  <div>
    <ng-container *ngIf="(ps.user | async) as user; else notSignedIn">
      <button id="account" mat-icon-button aria-label="Profile" [matMenuTriggerFor]="profile">
        <mat-icon *ngIf="!user.photo; else hasPhoto">account_circle</mat-icon>
        <ng-template #hasPhoto><img [src]="user.photo"></ng-template>
        {{user.name}}
      </button>
      <mat-menu #profile="matMenu">
        <!-- <button mat-menu-item>Account Settings</button> -->
        <button mat-menu-item (click)="ps.signOut()">Sign out</button>
      </mat-menu>
    </ng-container>
    <ng-template #notSignedIn>
      <button mat-button class="mx-2" (click)="openDialog(false)">Register</button>
      <button mat-button class="mx-2" (click)="openDialog(true)">Sign in</button>
    </ng-template>
    <a mat-icon-button aria-label="Github Link" href="https://github.com/3nomDev/PrestoAPI-Demo" target="_blank">
      <mat-icon><img src="assets/GitHub_Logo.svg"></mat-icon>
    </a>
  </div>
</mat-toolbar>

<mat-sidenav-container class="h-100">
  <mat-sidenav id="side-nav" #sidenav [mode]="isMobile?'over':'side'" [opened]="!isMobile" fixedInViewport
    [fixedTopGap]="isMobile?56:64">
    <mat-nav-list>
      <a *ngFor="let p of pages" mat-list-item [routerLink]="p" routerLinkActive="active-link">{{p}} </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>