<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <img class="mx-3" width="40" alt="Shop Logo" src="../assets/shop_icon.png">
  <span>E-Commerce Example</span>
  <div id="search-container">
    <input matInput placeholder="Search products...">
  </div>
  <button mat-icon-button aria-label="Profile" [matMenuTriggerFor]="profile">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profile="matMenu">
    <button mat-menu-item>Account Settings</button>
    <button mat-menu-item>Sign out</button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container id="app-container">
  <mat-sidenav id="side-nav" #sidenav mode="side" opened fixedInViewport fixedTopGap="64">
    <mat-nav-list>
      <a mat-list-item routerLink="protected" routerLinkActive="active-link">Protected Content </a>
      <a mat-list-item routerLink="protected" routerLinkActive="active-link">Other Content </a>
      <a mat-list-item routerLink="protected" routerLinkActive="active-link">Other Content </a>
      <a mat-list-item routerLink="protected" routerLinkActive="active-link">Other Content </a>
      <a mat-list-item routerLink="protected" routerLinkActive="active-link">Other Content </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>