.mat-toolbar.mat-primary {
  background: #1976d2;
  color: #fff;
}
mat-toolbar.mat-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}
.spacer {
  flex: 1;
}
#side-nav {
  box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
  min-width: 200px;
}
mat-sidenav-content {
  padding: 2rem 3rem;
  background: #f7f7f7;
}
#app-container {
  height: 100%;
  margin-top: 64px;
}
#logo {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}
.active-link {
  background: rgba(255, 255, 255, 0.1);
}
mat-nav-list a {
  text-transform: capitalize;
}
#search-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 16px;
}
#search-container input {
  font-size: 16px;
  color: #444;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  padding: 7px 16px;
  margin-left: 8px;
  width: 180px;
  max-width: 240px;
  height: 50%;
  -webkit-appearance: none;
  /* transition: border-radius 0.1s ease-in-out; */
}
#search-container.opened input {
  border-radius: 15px 15px 0 0;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
#menu-button {
  display: block !important;
}
#account {
  width: fit-content;
  margin-right: 1rem;
}
@media (min-width: 1000px) {
  /* #search-container input {
    transition: width 0.4s ease-in-out;
  }
  #search-container input:focus {
    width: 80%;
    outline: none;
  } */
}
@media (max-width: 700px) {
  .mat-toolbar > * {
    display: none;
  }
  #search-container {
    display: none;
  }
}
@media (max-width: 599px) {
  #app-container {
    margin-top: 56px;
  }
}
