<div class="container">
    <div class="header-container">
        <h1>Suppliers</h1>
        <mat-form-field>
            <mat-label>Search Suppliers</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="By any key..." #input>
        </mat-form-field>
        <button mat-raised-button (click)="addRow()"> Add New </button>
    </div>
    <div class="flex-center mt-5" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="mat-elevation-z4" [hidden]="loading">
        <form #inputValidator="ngForm">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="Id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                    <td mat-cell *matCellDef="let row">{{row.Id}}</td>
                </ng-container>
                <ng-container matColumnDef="CompanyName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CompanyName </th>
                    <td mat-cell *matCellDef="let row; index as i">
                        <ng-container *ngIf="!row.edit">
                            {{row.CompanyName}}
                        </ng-container>
                        <mat-form-field *ngIf="row.edit" appearance="fill">
                            <input matInput placeholder="CompanyName" [(ngModel)]="row.CompanyName"
                                [name]="'CompanyName'+i" required>
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="ContactName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ContactName </th>
                    <td mat-cell *matCellDef="let row; index as i">
                        <ng-container *ngIf="!row.edit">
                            {{row.ContactName}}
                        </ng-container>
                        <mat-form-field *ngIf="row.edit" appearance="fill">
                            <input matInput placeholder="ContactName" [(ngModel)]="row.ContactName"
                                [name]="'ContactName'+i">
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="ContactTitle">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ContactTitle </th>
                    <td mat-cell *matCellDef="let row; index as i">
                        <ng-container *ngIf="!row.edit">
                            {{row.ContactTitle}}
                        </ng-container>
                        <mat-form-field *ngIf="row.edit" appearance="fill">
                            <input matInput placeholder="ContactTitle" [(ngModel)]="row.ContactTitle"
                                [name]="'ContactTitle'+i">
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="City">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
                    <td mat-cell *matCellDef="let row; index as i">
                        <ng-container *ngIf="!row.edit">
                            {{row.City}}
                        </ng-container>
                        <mat-form-field *ngIf="row.edit" appearance="fill">
                            <input matInput placeholder="City" [(ngModel)]="row.City"
                                [name]="'City'+i">
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Country">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
                    <td mat-cell *matCellDef="let row; index as i">
                        <ng-container *ngIf="!row.edit">
                            {{row.Country}}
                        </ng-container>
                        <mat-form-field *ngIf="row.edit" appearance="fill">
                            <input matInput placeholder="Country" [(ngModel)]="row.Country"
                                [name]="'Country'+i">
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
                    <td mat-cell *matCellDef="let row; index as i">
                        <ng-container *ngIf="!row.edit">
                            {{row.Phone}}
                        </ng-container>
                        <mat-form-field *ngIf="row.edit" appearance="fill">
                            <input matInput placeholder="Phone" [(ngModel)]="row.Phone"
                                [name]="'Phone'+i">
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Fax">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fax </th>
                    <td mat-cell *matCellDef="let row; index as i">
                        <ng-container *ngIf="!row.edit">
                            {{row.Fax}}
                        </ng-container>
                        <mat-form-field *ngIf="row.edit" appearance="fill">
                            <input matInput placeholder="Fax" [(ngModel)]="row.Fax"
                                [name]="'Fax'+i">
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Buttons">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row" class="btn-container">
                         <button mat-icon-button [matMenuTriggerFor]="editMenu" aria-label="Edit menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #editMenu="matMenu" xPosition="before">
                            <ng-container *ngIf="!row.edit">
                                <button mat-menu-item (click)="row.edit=true">
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button>
                                <button mat-menu-item (click)="delete(row)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete</span>
                                </button>
                            </ng-container>
                            <ng-container *ngIf="row.edit">
                                <button mat-menu-item [disabled]="inputValidator.invalid" (click)="save(row)">
                                    <mat-icon>save</mat-icon>
                                    <span>Save</span>
                                </button>
                                <button mat-menu-item (click)="cancel(row)">
                                    <mat-icon>cancel</mat-icon>
                                    <span>Cancel</span>
                                </button>
                            </ng-container>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class]="row.edit?'edit-row':''"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No suppliers matching the filter "{{input.value}}"</td>
                </tr>
            </table>
        </form>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
    </div>
</div>