mat-card {
  width: 75%;
  color: white;
}
h1 {
  font-size: 2rem;
  float: right;
}
.blue {
  background: #479bff;
}
.green {
  background: #3cdab9;
}
.yellow {
  background: #ffb852;
}
.red {
  background: #ff5874;
}
.tile-container {
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 0.5rem;
}

#dash-container {
  padding-bottom: 95%;
}
