<div class="form-container">
    <h1>PrestoAPI Example App</h1>
    <p>This is an  demo app developed to showcase the magic of PrestoAPI.</p>
    <p>Some endpoints are protected and require authentication.</p>
    <p>This app was built using:</p>
    <ul>
        <li>PrestoAPI</li>
        <li>Angular 10</li>
        <li>Angular Material 10</li>
    </ul>
    <!-- <p>Login or Sign up to get started</p>
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput name="emailField" [(ngModel)]="user.email" #emailModel="ngModel" required email>
            <mat-error *ngIf="emailModel.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="emailModel.hasError('email') ">Not a valid email</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput name="passwordField" [(ngModel)]="user.password" #pswdModel="ngModel"
                [type]="hide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="pswdModel.invalid">Password is required</mat-error>
        </mat-form-field>
    </form> -->
</div>